/*
* ==========================================================
*     BACK
* ==========================================================
*/
/*
* ==========================================================
*     BOARD SECTION
* ==========================================================
*/

section.newsletter input {
    /* width: 100%; */
    height: 50px;
    line-height: 50px;
    /* padding: 0 15px; */
    /* border: 1px solid #111; */
    /* font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; */
}

section.newsletter .submit {
    height: 50px;
    /* padding: 0 30px; */
    line-height: 50px;
    /* background: #111;
    border: 1px solid #111;
    color: #fff; */
    position: relative;
    /* top: 0;
    right: 0; */
    /* font-family: "Open Sans", sans-serif; */
}

section.newsletter label {
    font-size: 0.8em;
    margin-top: 10px;
}

section.board {
    padding: 20px 20px;
}
section.board .container {
    padding: 20px 20px;
    background-color: #f8fafc;
    min-height: 85vh;
}

/* Featured Posts Section Media Query ------------------------------------- */
@media (max-width: 991px) {
    section.board {
        padding: 0px 0px;
    }
    section.board .container {
        padding: 0px 0px;
    }
}

@media (max-width: 575px) {
    section.board .container {
        font-size: 0.9em;
    }
}

@media (max-width: 350px) {
    section.board .container {
        font-size: 0.75em;
    }
}

#clearSearch.btn{
        box-shadow: none;
}

#categories button {
    box-shadow: none;
}

.widget.categories button {
    color: #777;
    font-weight: 700;
}

.widget.categories .item .active {
    color: #000;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
