/*
* ==========================================================
*     BACK
* ==========================================================
*/
/*
* ==========================================================
*     BOARD SECTION
* ==========================================================
*/

section.board {
    padding: 20px 20px;
}
section.board .container {
    padding: 20px 20px;
    background-color: #f8fafc;
    min-height: 85vh;
}
